<!-- 
  w-full: width 100%
  flex: display: flex
  items-center: align-items: center (for a flex containter)
  justify-center: justify-content: space-between

  - full witdh container
  - with flex
  - children items are aligned center vertically
  - space out in between 
-->

<nav class="w-full flex items-center justify-between py-5 px-10 border-b-2 border-gray-100 ">
  <div>
    <a class="text-black font-black" href="/">Eduardo Poleo</a>
  </div>

  <div class="flex items-center justify-evently">
    <a class ="mr-6 font-bold text-green-500" href="/my-story">My Story</a>
    <a class ="mr-6 font-bold text-green-500" href="/skill">Skills</a>
    <a class ="font-bold text-green-500" href="/">Home</a>
  </div>
</nav>